
#main{
	background:none;
}
#main .title:nth-child(2){
    border: none;
}
#main div:nth-child(2) li{
    margin:0px 10px;
}

.small {
    font-size: 11px;
}
.fade {
    color: #ccc;
}
.item_title {
    font-size: 16px;
    line-height: 130%;
    text-shadow: 0px 1px 0px #fff;
    word-wrap: break-word;
    hyphens: auto;
}
.cell a.node:link, a.node:visited, a.node:active {
    background-color: #f5f5f5;
    font-size: 10px;
    line-height: 10px;
    display: inline-block;
    padding: 4px 4px 4px 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    color: #999;
}
.cell a.node:hover {
    text-decoration: none;
    background-color: #e2e2e2;
    color: #777;
    transition: .2s ease-out;
}

a.count_blue:visited, a.count_green:visited, a.count_orange:visited, a.count_livid:visited {
    line-height: 12px;
    font-weight: bold;
    color: white;
    background-color: #e5e5e5;
    display: inline-block;
    padding: 2px 10px 2px 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    text-decoration: none;
    margin-right: 5px;
}


a.count_livid:link, a.count_livid:active {
    line-height: 12px;
    font-weight: bold;
    color: white;
    background-color: #aab0c6;
    display: inline-block;
    padding: 2px 10px 2px 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    text-decoration: none;
    margin-right: 5px;
    word-break: keep-all;
}
.cell a.count_livid:hover {
    text-decoration: none;
    background-color: #999;
    color: #fff;
    transition: .5s ease-out;
}

.title li{
	display: inline-block;
}
#new{
	float: right;
	margin-right: 20px;
}
#reply{
    background:#fff;
    margin-top: 30px;
}
.mle {
    margin:4px 0px 20px 0px;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    display: block;
    width: 640px;
    height: 100px;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    resize: vertical;
}
button{
    padding: 4px 15px 4px 15px;
    border: 1px solid rgba(80,80,90, 0.2);
    border-bottom-color: rgba(80,80,90, 0.35);
    border-radius: 3px;
    background-color: #fff;
    color: #333;
    text-shadow: 0px 1px 0px #fff;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 1px 0px rgba(66, 66, 77, 0.1);
}
button:active{
    background-color:#ddd;
    font-size: 12px;
    /* line-height: 12px; */
    outline: none;
}

.nodata{
    margin-top: 15px;
    text-align: center;
}
#list ol{
    height: 40px;
    line-height: 40px;
    text-indent: 40px;
    list-style: upper-roman;
    border-bottom: 1px solid #eee;
}
.slideBox .tips {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #000;
    overflow: hidden;
}